body {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  background-color: #f5f5f7;
  color: #333;
}

h1 {
  color: #0a66c2;
}

h2 {
  margin-top: 16px;
  margin-bottom: 8px;
}

.App {
  max-width: 900px;
  margin: auto;
  background-color: #fff;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.edu-list-item {
  margin-bottom: 8px;
}

@media (max-width: 768px) {
  .App {
    padding: 10px;
  }
  
  h1 {
    font-size: 1.5em;
  }
  
}

.container {
  display: flex;
  flex-direction: column;
}

@media (min-width: 768px) {
  .container {
    flex-direction: row;
  }
}


.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
