body {
  font-family: 'Roboto', sans-serif;
  margin: 0; /* Remove a margem padrão do navegador */
  padding: 0;
  box-sizing: border-box; /* Ajuda a gerenciar layouts de forma mais previsível */
}

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
